<div class="col s12">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row">
            <div class="center input-field col s4">
                <button class="btn btn-flat"><i class="fa fa-search"></i></button>
                <input type="search" placeholder="Pesquise..." autofocus (keyup)="filter = $event.target.value" >
            </div>
        </div>
      <div class="row">
          <div class="col s3">
                <span class="card-title">{{filter}}</span>
          </div>
        <div class="col s12 center">
            <ap-photo *ngFor="let photo of photos" [url]="photo.url" [description]="photo.description"></ap-photo>
        </div>
      </div>
    </div>
</div>